
/*#root {*/
/*    !*height: 80vh;*!*/
/*    !*width: 100vw;*!*/
/*    display: grid;*/
/*    grid-template-columns: 10% 10% 60% 10% 10% ;*/
/*    grid-template-rows: 20% 10% 97% ;*/
/*    grid-template-areas: ". . . . ." ". . . . ." ". board board board .";*/
/*}*/

.square {
grid-area: board;


    }

    .col {
        width: 40px;
        height: 35px;
    background-color: gainsboro ;
        border: 1px solid white;

    }
    .row {
      display: flex;
    }

    .point {
        /*position: absolute;*/
        width: 6px; /* adjust as needed */
        height: 5px; /* adjust as needed */
        background-color: transparent;
        display: flex;
        left: auto;
        float: left;
        margin: -4px;
        border-radius: 25px;

    }
    .main-container {
        display: grid;
        grid-template-rows: minmax(8em, 0.5fr);
        /*grid-template-columns: minmax(10px, 39px);*/
    }

    /*.container {*/
    /*    display: flex;*/
    /*    justify-content: left;*/
    /*    align-items: center;*/
    /*    height: 45vh; !* Set the height to 40% of the viewport height *!*/
    /*}*/

    /*.centered {*/
    /*    position: absolute;*/
    /*    transform: translateY(-50%);*/
    /*    left: 0;*/
    /*    margin-left: 100px; !* Adjusted margin for computers *!*/
    /*    padding: 10px; !* Add some padding *!*/
    /*}*/


